@tailwind base;
@tailwind components;
@tailwind utilities;

.animation {
  @apply transition-transform duration-300 ease-in-out;
}

.text-hover-animation {
  @apply bg-gradient-to-r from-accent to-accent bg-0-6 hover:bg-100-6 bg-left-bottom bg-no-repeat transition-bg duration-300;
}

/* Override padding for pre elements inside prose */
.prose pre {
  padding: 0 !important;
}

/* Additional custom styles to handle conflicts */
.prose code {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
}
